#leftbar {
  display: none;
}
@media screen and (max-width: 600px) {
  #leftbar {
    overflow: hidden;
    z-index: 1;
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    display: inline-flex;
    box-shadow: 1px 1px 10px rgb(203, 203, 203);
  }
  .nav-items {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
  }
  #item {
    margin: 10px auto;
  }
  .sell {
    margin: -10px 0px;
  }
  p {
    font-weight: 600;
  }
}
